* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d8f1fd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    border-radius: 0 0 20px 20px;
    background-size: cover;
    margin-bottom: 10px;
    backdrop-filter: blur(5px);
    background-position: center;
    box-shadow: 5px 5px 5px #a7a8ab, -5px -5px 5px #d8d4d4;
    width: 100%;
    padding: 10px; /* 纵向长度减小 */
}

.header h1 {
    display: inline-block;
    margin: 0;
    padding: 10px; /* 纵向长度同步调整 */
    font-size: 24px;
    color: #0b225b;
    text-align: center;
    vertical-align: middle;
}

.header img {
    display: inline-block;
    margin: 0;
    height: 30px;
    vertical-align: middle;
}



.sidebar, .data-section, .image-section {
    border-radius: 20px;
    box-shadow: 5px 5px 5px #a7a8ab, -5px -5px 5px #d8d4d4;
    padding: 20px;
    background: white;
}




