#container {
    position: absolute;
    top: auto;
    left: 0;
    background: linear-gradient(to right top, #cce5e1, #7bd9e8);
    width: 100%;
    height: 100%;
  }
  
  #map {
    width: 100%;
    height: 90%;
    overflow: cover;
    margin: 0;
    z-index: 2;
  }
  
  .badge {
    top: 50%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 字体无法选中 */
    user-select: none;
  }
  
  header {
    text-align: center;
    background: white;
    background-size: cover;
    margin-bottom: 1px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    background-position: center;
    box-shadow: 5px 5px 5px #a7a8ab, -5px -5px 5px #d8d4d4;
  }
  
  header h1 {
    display: inline-block;
    margin: 0;
    padding: 20px;
    font-size: 24px;
    color: #0b225b;
    text-align: center;
    vertical-align: middle;
  }
  
  header img {
    display: inline-block;
    margin: 0;
    height: 40px;
    vertical-align: middle;
  }
  
  .search-container {
    position: absolute;
    top: 15%;
    left: 20px;
    z-index: 3;
  }
  